html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #161616;
}

a,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #ffffff;
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
}
h1.color-orange {
  color: #ff7f16;
}
div.container {
  padding: 100px 25px 25px;
  max-width: 1400px;
  margin: 0 auto;
}
footer {
  margin-top: 100px;
}
